.content {
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  font-family: Helvetica, Arial, serif;
}

header {
  position: relative;
  padding: 6px 12px;
  height: 36px;
  background-color: rgb(96, 181, 204);
}

h1 {
  color: white;
  font-weight: normal;
  margin: 0;
}

.tagline {
  color: #eee;
  position: absolute;
  right: 16px;
  top: 12px;
  font-size: 24px;
  font-style: italic;
}

.results {
  list-style: none;
  padding: 0;
  width: 45%;
  float: left;
}

.main-content {
  width: 50%;
  margin-left: auto;
  float: right;
  padding: 20px 5px 100px 20px;
  border-left: 1px solid #ccc;
}

.results li {
  display: flex;
  font-size: 16px;
  margin-bottom: 16px;
}

.results .removeBtn {
  margin-left: 10px;
}

.star-count {
  font-weight: bold;
  margin-right: 11px;
  background-image: url('http://img-cache.cdn.gaiaonline.com/76bd5c99d8f2236e9d3672510e933fdf/http://i278.photobucket.com/albums/kk81/d3m3nt3dpr3p/Tiny-Star-Icon.png');
  background-repeat: no-repeat;
  background-position: 0px 1px;
  display: inline-block;
  padding-left: 20px;
}

a {
  color: rgb(96, 181, 204);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.search-query {
  padding: 8px;
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 36px;
}

.search-button {
  padding: 8px 16px;
  font-size: 24px;
  color: white;
  border: 1px solid #ccc;
  background-color: rgb(96, 181, 204);
  margin-left: 12px;
}

.search-button:hover {
  color: rgb(96, 181, 204);
  cursor: pointer;
  background-color: white;
}

.hide-result {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 18px;
  margin-left: 18px;
  cursor: pointer;
}

.hide-result:hover {
  color: rgb(96, 181, 204);
}

button:focus,
input:focus {
  outline: none;
}

.error {
  background-color: #ff9632;
  padding: 20px;
  box-sizing: border-box;
}

.loader {
  padding: 30px;
  font-size: 40px;
}

.counter {
  width: 300px;
  display: flex;
  margin: 40px auto;
  justify-content: space-evenly;
  font-size: 80px;
  padding: 20px;
  border: 1px solid #1e1e1e;
}

.counter button,
.counter span {
  display: block;
  width: 30%;
}

.counter button {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f9f9f9),
    color-stop(1, #e9e9e9)
  );
  background-color: #f9f9f9;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-size: 40px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.counter button:active {
  background: #ccc;
}
